@model IEnumerable<GameDatabaseProject.Games>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateGame")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RankCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RankOveral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distributors.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creators.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Device.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RankCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RankOveral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distributors.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creators.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Device.Name)
        </td>
        <td>
            @Html.ActionLink("EditGame", "EditGame", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("DeleteGame", "DeleteGame", new { id=item.Id })
        </td>
    </tr>
}

</table>
