@using (Html.BeginForm("GetBadGames", "User"))
{ // nastavení funkce a kontroleru

	foreach (var game in ViewBag.BadGames)
	{


	<div class="col-md-3">
		<div class="row game-item">
			<div class="row">
				<div class="col-md-12">
					<span class="game-title-text">
						<a href="@Url.Action("Detail", "User", new { id = game.Id })"> @game.Name</a>
</span>
				</div>
			</div>


			<div class="row">
				<div class="col-md-9">
					<img src="@Url.Content(game.Picture)" />
				</div>

				<div class="col-md-3">
					<span class="rank-title-text">
						@game.RankOveral%
					</span>

					<div class="row">
						<div class="col-md-12">
							<span class="count-title-text">
								(@game.RankCount)
							</span>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="detail-row-inside">
					
						<a href="@Url.Action("Detail", "User", new { id = game.Id })"> Detail </a>
				</div>
			</div>
		</div>


	</div>
		</div>


	}
}
